body {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000; 
  color: white;
  font-family: Arial, sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box; 
  border: 2px solid green;
}

#scoreBoard {
  position: fixed;   
  top: 10px;         
  right: 10px;      
  color: white;
  font-size: 20px;
  z-index: 10;
  display: flex;
  gap: 20px; 
  align-items: center; 
}

#gameOverScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
  z-index: 20;
}

#gameOverMessage {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #b3b3b3;
}